@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

$blur: 10px;
$shadow-opacity: 0.30;
$image: 'https://wallpapercave.com/wp/wp2255833.jpg';

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root{
	height: 100%;
	width: 100%;
}

.frontPage{
	height: 100%;
	width: 100%;
	position: absolute;
}


body {
  display: flex;
  background-image: url($image);
  background-size: cover;
  background-position: center;
  font-family: 'Baloo Bhai', cursive;
}

.asdf {
  height: 100%;
  width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0, $shadow-opacity));
  display: flex;

	.header{
		width: 100%;
		position: absolute;
    z-index: 5;
    color: white;
  
		img {
			float: left;
			padding-left: 0.375rem;;
			margin: 10px;
			height: 50px;
			width: 50px;
		}

		.name{
			float: left;
			margin: 10px;
			letter-spacing: 0.4em;
			padding-top: 10px;
			font-size: 1.8rem;
			z-index: 5;
			color: white;
			filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0, $shadow-opacity));
		}

		>Button{
			font-family: 'Baloo Bhai', cursive;
			border:none;
			background-color: transparent;
			outline: transparent;
			float: right;
			margin: 10px;
			letter-spacing: 0.4em;
			padding-top: 15px;
			padding-left: 10px;
			font-size: 1.2rem;
			z-index: 5;
			color: white;
			filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0, $shadow-opacity));

		}
	}

	.Content{
		height: 90%;
		width: 100%;
		position: absolute;
		top: 10%;
		color: white;
		font-size: 3em;;

		.line1{


		
			.typing{
				position: relative;
				margin-left: 0.25em;
			
			&:after{
				position : absolute;
				content : "|";
				animation: blink 0.5s infinite ease;
			}
			}
		}
	}
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

